.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1em;
}

.wrapper>section{
    background: #eee;
    padding: 1em;
}
.wrapper>section:nth-child(odd){
    background-color: aqua;
}