header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c8080;
    padding: 8px 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding-right: 25px;
    font-family: 'Fira Code';
}
.logo-header{           
    margin-left: 20px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color:cornflowerblue;
}